*{
    border:0;
    margin:0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.result-container::-webkit-scrollbar {
    width: 12px; 
}

.result-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px;
}

.result-container::-webkit-scrollbar-thumb {
    background-color: #0460D9; 
    border-radius: 10px; 
    border: 2px solid #fff; 
}
.container{
    background-image: url(../imgs/cid2.jpg);
    background-size: cover; /* Faz a imagem cobrir todo o container */
    background-position: center; /* Centraliza a imagem */
    filter: blur(5%);
    display:flex;
    width:100vw;
    height:100vh;
    background-color: #C9DFF2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
}

.titulo{
    background-color:#fff;
    width:98%;
    display: flex;
    align-self: flex-start;
    z-index: 3;
    padding:1%;
}
.cep{
    color: #0F3FFF;
    font-size:2em;
    font-weight: bold;
}
.explorer{
    color: #000;
    font-size:2em;
    font-weight: bold;
}
.container-form{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:26%;
    height:65%;
    background-color: #fff;
    border-radius:10px 10px 10px 10px ;
    padding:1%;
    z-index: 3;
 
}
.titulo-form{
    display: flex;
    justify-content: center;
    font-size:1.8em;
    width:100%;
    height:10%;
    margin-bottom:1%;
    font-weight: bold;
    
}
.buscar{
    color:#000;
    margin-right:8px;
}
.cep-form{
    color:#0F3FFF
}
#form{
    width:100%;
    height: 80%;  
}
#estado{
    border: 1px solid #819AFF;
    width:100%;
    padding:1%;
    height: 9%;
    margin-top:1%;
    cursor: pointer;
}
.input{
    border: 1px solid #819AFF;
    border-radius:5px;
    width:calc(100% - (2% + 2px));
    padding:1%;
    height:20px;
    margin-top:1%;
    margin-bottom:2%;
}
.link{
    color:03318C;
    font-size: 0.8em;
}
.btn-busc{
    width:38%;
    height: 10%;
    background-color: #0460D9;
    color:#fff;
    border-radius:5px;
    margin-top:6%;
    font-weight: bold;
    font-family: "Poppins", sans-serif ;
    cursor: pointer;
}
.btn-lim{
    width:25%;
    height: 10%;
    background-color: #BFBFBF;
    color:#000;
    border-radius:5px;
    margin-top:6%;
    font-weight: bold;
    font-family: "Poppins", sans-serif ;
    cursor: pointer;
}
.btn-busc:hover{
    background-color: #03318C;
    transition:0.8s ;
}
.btn-lim:hover{
    background-color:#8C8C8C ;
    transition: 0.8s;
}

/*meu  css*/
.result-container {
    background-color: #0460D9;
    border-radius: 0 10px 10px 0px;
    width: 22%;
    height:65%;
    padding:1%;
    z-index: 2;
    margin-left: calc( -22% + -2%);
    transition: all 0.3s ease-in;
    overflow-y: scroll;
       
}
.resultado{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius:10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in;

}
.resultado:hover{
    transform: scale(1.03);
    background-color: #f5f1f1;
}
.result-container h2{
    color:#fff;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.result-container h2 span{
    color:#fff
}
#result p a{
    color: blue;
}
#limparHistorico{
    position: absolute;
    right: 10px;
    color: rgb(234, 104, 104);
    cursor: pointer;
}

/* EFEITO DE ADICIONADO AO HISTÓRICO */

.resultado {
    transition: opacity 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.resultado.clicked {
    opacity: 1; /* Faz o conteúdo "esmaecer" */
    background-color: #88d299; /* Cor de fundo leve, por exemplo, verde claro */
    border-color: #c3e6cb; /* Indica sucesso com uma borda */
}
.container-mensagem{
    display: none;
    color: #155724;
    padding: 10px 10px;
    width: 80%;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
}

.mensagem {
    color: #155724;
    margin-right: 10px;
    font-size: 1.1em;
}

.container-mensagem.show {
    animation: slideInFromLeft 0.5s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%); /* Começa fora da tela à esquerda */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%); /* Centraliza a mensagem */
    }
}
.p-hidden{
    visibility: hidden;
}